<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>638950209720-k17ulul9qprh3jacc08r31uj2r7br01d.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.638950209720-k17ulul9qprh3jacc08r31uj2r7br01d</string>
	<key>API_KEY</key>
	<string>AIzaSyBJwV5h_o1fb8qllkyjmS4wq824NonpmrQ</string>
	<key>GCM_SENDER_ID</key>
	<string>638950209720</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>NivelateOnline.GuiaCENEVAL-iOS</string>
	<key>PROJECT_ID</key>
	<string>guia-ceneval</string>
	<key>STORAGE_BUCKET</key>
	<string>guia-ceneval.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:638950209720:ios:653ba37c21e01b9b</string>
	<key>DATABASE_URL</key>
	<string>https://guia-ceneval.firebaseio.com</string>
</dict>
</plist>